*{
    font-family: "Montserrat", sans-serif;
}

button.btn-purchase{
    border: 2px solid #EA4498;
    background-color: white;
    border-radius: 20px;
    padding:5px 10px;
    color: rgba(0, 0, 0, 0.65);
}

button.btn-purchase:hover{
    color: white;
    background-color:  #EA4498;
}

.pink-text{
    color:#EA4498 !important;
}

#banner{
    background-color:#f7d2f7;
}

.topic-cover:hover{
    background-color: rgb(242, 146, 242);
    opacity:0.4;
    border-radius: 100%;
}

.pink-button{
    border-color: #EA4498;
}

.pink-button:hover{
    background-color: #EA4498;
    color: white;
    border-color: #EA4498;
}

a.foro-msg{
  text-decoration: none;
  color:#EA4498;
  cursor: pointer;
}

a.foro-msg:hover{
    color: #D290FC;
}
