*{
    font-family: "Montserrat", sans-serif;
}
h1.title{
    font-family: "Dancing Script", cursive; 
    color:#EA4498;
}

button.btn-purchase{
    border: 2px solid #EA4498;
    background-color: white;
    border-radius: 20px;
    padding:5px 10px;
    color: rgba(0, 0, 0, 0.65);
}

button.btn-purchase:hover{
    color: white;
    background-color:  #EA4498;
}

.pink-text{
    color:#EA4498;
}

#banner{
    background-color:#f7d2f7;
}